
.food-selection {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  
  .food-selection h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
  }
  

  .food-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  

  .day {
    font-weight: bold;
    margin-right: 10px;
  }
  

  .not-selected {
    color: #888;
    font-style: italic;
  }
